name: Build rust rocket builder and runner images

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install ginger-apps
      run: bash -c "$(curl -fsSL https://raw.githubusercontent.com/ginger-society/infra-as-code-repo/main/rust-helpers/install-pipeline-clis.sh)"

    - name: Authenticate with ginger-auth
      id: ginger-auth
      run: ginger-auth token-login ${{ secrets.GINGER_TOKEN }}

    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}" | docker login -u "${{ secrets.DOCKER_HUB_USERNAME }}" --password-stdin

    - name: Build Rocket rust builder Docker image
      run: docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/rust-rocket-api-builder:latest . --build-arg GINGER_TOKEN=${{ secrets.GINGER_TOKEN }} -f pipeline-images/rust-rocket-api/Dockerfile.builder

    - name: Push Rocket rust builder Docker image
      run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/rust-rocket-api-builder:latest

    - name: Build Rocket rust runner Docker image
      run: docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/rust-rocket-api-runner:latest . --build-arg GINGER_TOKEN=${{ secrets.GINGER_TOKEN }} -f pipeline-images/rust-rocket-api/Dockerfile.runner

    - name: Push Rocket rust runner Docker image
      run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/rust-rocket-api-runner:latest

    - name: Build Rocket vite builder Docker image
      run: docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/vite-react-builder:latest . --build-arg GINGER_TOKEN=${{ secrets.GINGER_TOKEN }} -f pipeline-images/vite-react/Dockerfile.builder

    - name: Push Rocket vite builder Docker image
      run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/vite-react-builder:latest

    - name: Build vite dev container Docker image
      run: docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/vite-react-dev:latest . -f devcontainer-images/vite-react/Dockerfile.dev

    - name: Push vite dev Docker image
      run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/vite-react-dev:latest

    - name: Build Rocket dev container Docker image
      run: docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/rust-rocket-api-dev:latest . -f devcontainer-images/rust-rocket-api/Dockerfile.dev

    - name: Push Rocket dev Docker image
      run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/rust-rocket-api-dev:latest

    - name: Authenticate with ginger-auth ( in case of expiration )
      run: ginger-auth token-login ${{ secrets.GINGER_TOKEN }}

    - name: trigger system wide check
      run: ginger-connector system-check ${{secrets.GH_TOKEN}}
